input{
    margin-left:20px; 
    height: 50px;
    width:300px;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width:0px;
    -webkit-appearance: none
}

*:focus {
    outline: none;
}