
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


body{
  font-family: 'Nunito', sans-serif;
  
}

.linkBorder:hover {
  transform: rotate3d(3,1,0,-30deg);
}


@media only screen and (max-width: 600px) {
  .linkBorder{
  transform: scale(0.8);
  }
}